h1 {
    color: white;
    background-color: #4682B4;
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

h2 {
    background-color: #0077b6;
    color: aliceblue
}

.links, a{
    color: white;
    background-color: #4682B4;
}

h3, .banana-title {
    background-color: #0077b6;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.banana-bread {
    font-family: 'Gill Sans', Verdana, sans-serif;
}
